* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Artifakt, sans-serif;
    background-color: #000000;
    scroll-behavior: smooth;
}

a {
    color: #EEE;
}

a:hover {
    color: #FFF;
    transition: .5s;
}


/* Navigation bar */

nav {
    background: #000000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 15vh;
    width: 100%;
    z-index: 2;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
    line-height: 14.5vh;
}

nav ul li a {
    color: #FFFFFF;
    height: 15vh;
    text-decoration: underline;
    font-size: 20px;
}

#title {
    margin-left: 30px;
    font-size: 42px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 15vh;
}

#titleLabel {
    font-size: 24px;
}

#icon_menu {
    display: none;
}

#icon_close {
    display: none;
}

#navbar {
    display: none;
}


/*Main*/

#Main {
    color: #FFFFFF;
    padding-top: 15vh;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}

p {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 15px;
}

.bigText {
    font-size: 22px;
}

